server {
    listen 127.0.0.1:8080;
    server_name localhost;
    root www/simple;
    index index.html;
    methods GET POST DELETE;
    upload_store www/simple/uploads;  # ← Ça marche déjà !

    error_page 403 errors/403.html;
    error_page 404 errors/404.html;
    error_page 405 errors/405.html;
    error_page 409 errors/409.html;
    error_page 413 errors/413.html;
    error_page 500 errors/500.html;
    error_page 501 errors/501.html;

    location /sans-index {
        autoindex off;
    }

    location /avec-autoindex {
        autoindex on;
    }

    location /no-method {
        root www/simple;
        methods ;
    }

    location /rediriger-moi {
        return http://localhost:8080/fichier-redirection.html;
    }

    location /cgi-bin/ {
        methods POST GET;
        cgi .py /usr/bin/python3;
    }
}